geopy
streamlit
pandas
requests
geocoder
twilio
pygsheets
plotly
tabulate
datetime
streamlit-option-menu
streamlit_js_eval
ultralytics
matplotlib
opencv-python
opencv-python-headless>=4.1.2
numpy
onnx
scikit-learn
